@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 18, 25;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}