@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 18, 25;
    --background-end-rgb: 0, 18, 25;
}

body {
    @apply bg-flint-bg text-flint-text-primary font-sans selection:bg-flint-primary/30 selection:text-white;
}

/* Hide scrollbars but allow scrolling */
.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
}